<div id="wallpaper-show-container" class="container-fluid content-block mb-5">
  <div class="row">
    <div class="col-xxl-8 d-flex flex-column justify-content-between">
      <div>
        <h1><%= @wallpaper.title || "Wallpaper#{@wallpaper.id}" %></h1>
        <ul>
          <li>Resolution: 736×1600 pixels</li>
          <li>Collection: <a class="plain-link"><%= @wallpaper.collection.name %></a></li>
          <li>Added on: <%= @wallpaper.created_at.strftime("%B %e, %Y") %></li>
        </ul>
        <p>
          <%= link_to rails_blob_path(@wallpaper.picture, disposition: 'attachment'), class: 'download-button col-xxl-3 col-xl-3 col-md-3', method: :get do %>
            <%= image_tag 'download.svg' %>
            <span class="download-button-text">Download</span>
          <% end %>
        </p>
      </div>
      <div>
        <h2>Keywords:</h2>
        <p class="keywords">
          <%= @wallpaper.keywords || "N/A" %>
        </p>
      </div>
      <div>
        <h2>Prompt:</h2>
        <p class="prompt-formula">
          <%= @wallpaper.prompt_formula || "Coming soon!" %>
        </p>
      </div>
    </div>
    <div class="col-xxl-4 text-center">
      <%= image_tag @wallpaper.picture.variant(:preview), class: "rounded-4" %>
    </div>
  </div>
</div>
