<%= form_with(model: [:admin, wallpaper], class: "col-xxl-6") do |form| %>
  <% if wallpaper.errors.any? %>
    <div style="color: red" class="mb-3">
      <h2><%= pluralize(wallpaper.errors.count, "error") %> prohibited this wallpaper from being saved:</h2>

      <ul>
        <% wallpaper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :collection, style: "display: block", class: "form-label" %>
    <%= form.collection_select :collection_id, @collections, :id, :name, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :picture, style: "display: block", class: "form-label" %>
    <%= form.file_field :pictures, multiple: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
