<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @wallpaper.title || "Wallpaper#{@wallpaper.id}" %></h1>
  <p>
    <%= image_tag @wallpaper.picture.variant(:preview) %>
  </p>
  <p>
    <%= link_to "Download", rails_blob_path(@wallpaper.picture, disposition: 'attachment') %>
  </p>
  <h2>Keywords:</h2>
  <p>
    <%= @wallpaper.keywords || "N/A" %>
  </p>
  <h2>Collection: <%= @wallpaper.collection.name %></h2>
  <%= link_to "Edit this wallpaper", edit_admin_wallpaper_path(@wallpaper) %> |
  <%= link_to "Back to wallpapers", admin_wallpapers_path, class: "btn btn-info" %>


  <%= button_to "Destroy this wallpaper", admin_wallpaper_path(@wallpaper), method: :delete, class: "btn btn-danger", onclick: "return confirm('Are you sure?')" %>
</div>
