<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wallpapers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid main-container mx-auto mt-3 mb-0">
      <div class="row mb-3">
        <div class="col-xxl-12">
          <%= render 'layouts/top_bar' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 mb-4">
          <%= yield %>
        </div>
        <div class="col-xxl-2 mb-4">
          <div class="content-block">
            <%= render 'layouts/categories_sidebar' %>
          </div>
        </div>
      </div>

    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
