<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-P73K3DY7E7"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-P73K3DY7E7');
      </script>
    <% end %>
    <title>Wallpapers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid main-container mx-auto mt-3 mb-0">
      <div class="row mb-3">
        <div class="col-xxl-12">
          <%= render 'layouts/top_bar' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 mb-4">
          <%= yield %>
        </div>
        <div class="col-xxl-2 mb-4">
          <div class="content-block">
            <%= render 'layouts/categories_sidebar' %>
          </div>
        </div>
      </div>

    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
